In [2]:
import numpy as np
import pandas as pd
import os
from sklearn import preprocessing
from sklearn import svm
from collections import Counter

In [3]:
spy_indic_df = pd.read_pickle("./data/stocks/tech_indic/spy_indic.pkl")
spy = pd.read_pickle("./data/stocks/spy.pkl")

In [4]:
spy.head()

,Open,High,Low,Close,Adj Close,Volume,return
Date,,,,,,,
1993-03-15,45.06250,45.31250,45.06250,45.31250,26.126841,310800,0.004840
1993-03-16,45.31250,45.43750,45.31250,45.31250,26.126841,30800,0.000000
1993-03-17,45.25000,45.25000,44.96875,45.03125,25.964684,21800,-0.006226
1993-03-18,45.21875,45.50000,45.21875,45.31250,26.126841,59300,0.006226
1993-03-19,45.28125,45.28125,45.03125,45.03125,26.087311,66900,-0.001514

In [5]:
spy_indic_df.head()

,sma5,sma30,std15,std30,H-L,C-O,ewm15,rsi,will_r,sar,adx
Date,,,,,,,,,,,
1993-03-15,45.45000,44.616667,0.619492,0.682680,0.25000,0.25000,44.811189,57.679500,-25.000000,44.681466,14.282526
1993-03-16,45.39375,44.652083,0.525282,0.690517,0.12500,0.00000,44.847421,57.679500,-30.909091,44.812500,13.860064
1993-03-17,45.26250,44.675000,0.480430,0.691339,0.28125,-0.21875,44.860578,53.033487,-49.056604,44.956875,13.080462
1993-03-18,45.21250,44.691667,0.439039,0.700731,0.28125,0.09375,44.892633,56.782391,-32.692308,44.968750,12.491556
1993-03-19,45.20000,44.692708,0.392036,0.701229,0.25000,-0.25000,44.902384,52.287696,-50.980392,44.968750,11.684755

In [6]:
y = np.where(spy_indic_df['sma30'].shift(-15) > spy_indic_df['sma30'], 1, 0)

In [7]:
spy_indic_df[spy_indic_df.index>'2018'].shape[0]

1173

In [8]:
split = int(len(spy_indic_df)*0.8)
X_train, X_test = spy_indic_df.iloc[:split,:], spy_indic_df.iloc[split:,:]
y_train, y_test = y[:split], y[split:]

In [9]:
scaler = preprocessing.StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [10]:
clf = svm.SVC(kernel = 'linear')
clf.fit(X_train, y_train)
confidence = clf.score(X_test, y_test)
print('accuracy:',confidence)

accuracy: 0.8557951482479784

In [11]:
predictions = clf.predict(X_test)
print('predicted class counts:',Counter(predictions))

predicted class counts: Counter({1: 995, 0: 489})

In [12]:
len(predictions)

1484